<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instruction page </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form>
         <div class="container">
           <div class="content">
               <div class="row">
                 <div class="card bg-light mb-3 row" style="margin-top:150px;margin-bottom:20px;margin-left:220px;margin-right:100px;align:align-items-center;">
                     <div class="card-body" style="padding-top:30px;padding-bottom:50px;padding-left:100px;padding-right:150px">
                          <center>
                              <h1>Thank you for Registration ..!!</h1>
                          </center>
                                       <a class="nav-item nav-link active" href="/Login" style="color:blue;font-weight:bold;font-size:20px;margin-top:50px;margin-bottom:50px;">CLICK HERE TO LOGIN</a>

                     </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
 </form>
</body>
</html>