<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TECHNICAL SECTION</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form>
     <div class="container">
           <div class="content">
               <div class="row">
                   <div class="card bg-light mb-3 row" style="margin-top:50px;margin-bottom:20px;margin-left:20px;margin-right:50px;align:align-items-center;">
                        <div class="card-header"  >
                          <center><b>TECHNICAL SECTION</b></center>
                        </div>
                         <div class="card-body" style="padding-top:30px;padding-bottom:50px;padding-left:20px;padding-right:100px">
                             <center><p style="text-align:left">
                              1. What will happen if in a C program you assign a value to an array element whose subscript exceeds the size of array?<br>
                              A.  The element will be set to 0.<br>
                              B.  The compiler would report an error.<br>
                              C.  The program may crash if some important data gets overwritten.<br>
                              D.  The array size would appropriately grow.<br>
                               2. What does the following declaration mean?<br>
                              int (*ptr)[10];<br>
                              A.	ptr is array of pointers to 10 integers<br>
                              B.	ptr is a pointer to an array of 10 integers<br>
                              C.	ptr is an array of 10 integers<br>
                              D.	ptr is an pointer to array<br>
                              E .None of these<br>
                             3. In C, if you pass an array as an argument to a function, what actually gets passed? <br>
                                 A.	Value of elements in array<br>
                                 B.	First element of the array<br>
                                 C.	Base address of the array<br>
                                 D.	Address of the last element of array<br></p></center>
                         </div>
                   </div>
               </div>
           </div>
      </div>
</form>
</body>
</html>